# Dependencies
node_modules/
frontend/*/node_modules/

# Production builds
dist/
frontend/*/dist/

# Vite caches
.vite/
frontend/*/.vite/

# Environment files
.env
.env.local
*.local

# System & backend
backend
.DS_Store
Thumbs.db
